# ————————————————
# Операционные системы
# ————————————————
.DS_Store
Thumbs.db

# ————————————————
# Зависимости Node.js
# ————————————————
node_modules/

# ————————————————
# Папки сборки
# ————————————————
dist/
build/

# ————————————————
# Логи
# ————————————————
npm-debug.log*
yarn-debug.log*
*.log

# ————————————————
# Кэш и временные файлы
# ————————————————
.cache/
.sass-cache/

# ————————————————
# Файлы окружения
# ————————————————
.env
.env.*.local

# ————————————————
# Настройки IDE/редакторов
# ————————————————
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ————————————————
# Специальные ветки и файлы
# ————————————————
gh-pages/